// Creative Writing Outreach Course Digital Portfolio Styles 
.greedy-nav .visible-links a:before {
    background: #000;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}

.page__footer-follow, .page__footer-copyright {
    margin-top: 0;
}

.page__footer-copyright {
    font-family: $header-font-family;
    font-size: $type-size-6;
    text-align: right;
}


.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.page__hero--overlay {
    background-attachment: fixed;
    min-height: 20rem;
}

.feature__wrapper {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .feature__item {
        max-width: 300px;
        img {
            height: 200px;
        }
    }

    .archive__item {

        .archive__item-teaser,
        .archive__item-title,
        .archive__item-excerpt {
            transition: opacity .5s ease-out;
            -webkit-transition: opacity .5s ease-out;
            -moz-transition: opacity .5s ease-out;
        }
    }

    .archive__item:hover {

        .archive__item-teaser,
        .archive__item-title,
        .archive__item-excerpt {

            opacity: .5;
        }
    }
}

.about .page__content img.logo {
    max-height: 150px;
}

.layout--single .page__hero {
    overflow: hidden;
    max-height: 20rem;
    text-align: center;

    img {
        width: 200%;
    }
}

.mfp-gallery .mfp-content .mfp-title p {
    font-size: $type-size-4;
    line-height: 1.5rem;

}

.page__content {
  p,
  li,
  dl {
    font-size: $type-size-5 * 1.1;
  }
}